@font-face {
    font-family: 'Inter';
    src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OPENSANS.ttf') format('truetype');
}

body {
    color: #2C394B;
    font-size: 14px;
    line-height: 18px;
    background-color: #FFFCFC;
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}

#content-container {
    margin: 100px;
}

h1 {
    text-align: left;
    font-weight: 600;
    font-size: 46px;
}

hr {
    border: none;
    height: 0.5px;
    background-color: #DEE3E7;
}

#edit-container {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    padding: 0 150px;
    max-width: 100%;
    box-sizing: border-box;
}

/* Profile Picture */

#image-container {
    width: 30%;
    min-width: 300px;
    max-width: 300px;
    position: relative;
}

#profile-pic {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    border: 0.75px solid #2C394B;
}

#change-image-btn {
    position: absolute;
    bottom: 20px;
    right: 30px;
    transform: translate(50%, -50%);
    background: url("../images/profile/pic-changer.png") no-repeat;
    background-size: contain;
    width: 25%;
    height: 25%;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* Profile Information */

#info-container {
    width: 60%;
    text-align: left;
    margin: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#info-container h3 {
    font-weight: 300;
}

#info-container p {
    color: #8F8D8D;
    margin-bottom: 15px;
}

#new-name {
    padding: 10px;
    color: #8F8D8D;
    border: 1px solid #8F8D8D;
    border-radius: 5px;
    width: 100%;
    font-family: 'Open Sans';
    margin-bottom: 30px;
}

#new-bio {
    padding: 10px 10px 60px 10px;
    color: #8F8D8D;
    border: 1px solid #8F8D8D;
    border-radius: 5px;
    width: 100%;
    font-family: 'Open Sans';
    margin-bottom: 30px;
}

#button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#save {
    background-color: #1E883E;
    border-radius: 7px;
    border: 1px solid #016B25;
    color: #FFFCFC;
    padding: 10px;
    width: 80px;
    margin-right: 10px;
    font-weight: bold;
}

#save:hover {
    background-color: #334756;
    border: 1px solid #082032;
}

#cancel {
    border: 1.5px solid #858E99;
    border-radius: 7px;
    background-color: transparent;
    padding: 10px;
    width: 80px;
    font-weight: bold;
}