/* ---- Text Imports ---- */

@font-face {
  font-family: 'Inter';
  src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OPENSANS.ttf') format('truetype');
}

/* ---- MODIFICATION FOR EACH SECTION -----*/

body {
  /*General Settings*/
  color: #2C394B;
  font-size: 14px;
  line-height: 18px;
  background-color: #FFFCFC;
  margin: 0;
  padding: 0;
  font-family: 'Inter', serif;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
}

/* ---- CAROUSEL SECTION -----*/

.carousel-container {
  /* Carousel */
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-bottom: 35px;
}

.carousel-inner {
  /* Inside the Carousel */
  width: 100%;
  height: 0;
  padding-bottom: 26.5%;
  overflow: hidden;
}

.carousel-inner .item {
  /* Inside the Carousel */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-inner .item img {
  /* Pictures Inside the Carousel */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators {
  /* Carousel Indicators*/
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-control {
  /* Carousel Arrows */
  font-size: 10px;
  width: 5px;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.carousel-control.left {
  left: 20px;
}

.carousel-control.right {
  right: 20px;
}

/* ---- POST AND POLL SECTION -----*/

.postpoll-container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.left-post {
  width: 70%;
  margin-right: 30px;
}

.polls-container {
  width: 30%;
}

/* Posts */

.post-container {
  width: 95%;
  border-radius: 20px;
  background-color: #EEF1F4;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.vote {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 20px 15px 0 20px;
}

.upvote,
.downvote {
  width: 30px;
  height: auto;
}

.upvote-button,
.downvote-button {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-votes {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  padding: 0;
}

.content {
  width: 95%;
}

.post-content {
  margin: 15px;
  margin-top: 25px;
  margin-right: 40px;
  text-align: left;
}

.title {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
}

.author {
  margin-bottom: 15px;
  font-family: 'Open Sans';
}

.text {
  margin-bottom: 15px;
  line-height: 1.5;
  font-family: 'Open Sans';
}

.sample {
  width: 100%;
  height: auto;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 20px 15px;
}

.edit,
.comment,
.share {
  width: auto;
  height: 25px;
  margin-right: -5px;
}

.share {
  margin-left: 15px;
}

#edit-post {
  margin-right: 15px;
}

.edit-button {
  border: none;
  padding: 0;
  margin-right: 7px;
  margin-top: -5px;
}

.comment-button {
  border: none;
  padding: 0;
  margin-right: 7px;
}

.share-button {
  border: none;
  padding: 0;
  margin-right: 3px;
}

.save {
  height: 25px;
}

.save-button {
  margin-left: auto;
  border: none;
  padding: 0;
}

.post-actions p {
  font-weight: bold;
  color: #A2AAB4;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 7px;
}

.post-clickable {
  text-decoration: none;
  color: inherit;
}

.post-clickable:hover,
.post-clickable:focus,
.post-clickable:active {
  text-decoration: none;
  color: black;
}

/* Polls Container */

.polls-container h3 {
  text-align: left;
  font-weight: bold;
  margin-bottom: -5px;
  margin-top: 0;
}

/* Check This Out */

.check-container {
  margin-bottom: 40px;
}

.check-users {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.name-container {
  margin-left: 10px;
  text-align: left;
}

.name-container a {
  color: #2C394B;
}

.name-container h5,
.name-container p {
  padding: 0;
  margin: 0;
}

.name-container h5 {
  font-weight: bold;
}

.follow-btn {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #6C8CA4;
  margin-left: auto;
}

.follow-btn:hover {
  color: #2C394B;
}

/* Top Post */

.top-post-container {
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #EEF1F4;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-user {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.top-post-text {
  margin: 20px;
}

.top-post-text h5 {
  font-weight: bold;
  font-size: 18px;
}

.top-post-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 15px 20px;
}

/* Waifus of the Month */

.waifu {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.waifu-image {
  width: auto;
  height: 90px;
  display: block;
  border-radius: 50%;
  border: 0.75px solid #2C394B;
}

.waifu-info {
  margin-left: 20px;
  text-align: left;
}

.waifu-info h4 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.waifu-info p {
  margin-top: -5px;
  font-family: 'Open Sans';
  font-style: italic;
}

#poll-link {
  color: #2C394B;
}

#poll-link:hover {
  color: #337AB7;
  text-decoration: none;
}