@font-face {
    font-family: 'Inter';
    src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OPENSANS.ttf') format('truetype');
}

body {
    color: #2C394B;
    font-size: 14px;
    line-height: 18px;
    background-color: #FFFCFC;
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}

#content-container {
    display: flex;
    flex-direction: row;
    margin: 70px 120px 70px 120px;
    padding: 0 20px;
    max-width: 100%;
    box-sizing: border-box;
}

/* Profile */

#profile-container {
    width: 25%;
    text-align: left;
}

#image-container {
    position: relative;
    display: inline-block;
}

#profile-pic {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    border: 0.75px solid #2C394B;
}

#change-image-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url("../images/profile/pic-changer.png") no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#name {
    font-size: 42px;
    font-weight: bold;
    padding: 0;
    margin-top: 30px;
}

#username {
    font-size: 30px;
    font-weight: 300;
    padding: 0;
    margin-top: -10px;
}

#bio {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    padding: 0;
    margin-top: 25px;
}

#edit-button {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
    border: 1.5px solid #858E99;
    border-radius: 7px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
}

#follow-button {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    width: 100%;
    color: #FFFCFC;
    background-color: #6C8CA4;
    border: 1px solid #537086;
    border-radius: 7px;
    font-weight: bold;
    font-size: 16px;
}

#follow-button.clicked {
    background-color: #1E883E;
    border: 1px solid #016B25;
}

#edit-button:hover {
    color: #FFFCFC;
    background-color: #1E883E;
    border: 1px solid #016B25;
}

#followers-container {
    display: flex;
    align-items: center;
}

#followers-container img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

#followers-container p {
    font-size: 16px;
    margin: 0;
    line-height: 30px;
}

.bold {
    font-weight: bold;
}

/* Overview */

#overview-container {
    width: 75%;
    margin-left: 80px;
}

/* Filter Buttons */

hr {
    border: none;
    height: 0.5px;
    background-color: #DEE3E7;
}

#filters-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filter {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 0;
    padding: 10px 10px 20px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.filter.clicked {
    font-weight: bold;
    border-bottom: 2px solid #FF4C29;
}

hr {
    margin-top: 0;
    margin-bottom: 30px;
}

/* Create Post */

.user-post-container {
    width: 100%;
    border-radius: 20px;
    border: 0.75px solid #2C394B;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.post-profile {
    width: auto;
    height: 35px;
    display: block;
    border-radius: 50%;
    border: 0.75px solid #2C394B;
}

.post-textbox {
    text-align: left, center;
    margin: 0;
    margin-left: 20px;
    color: #8F8D8D;
    font-weight: 200;
    font-family: 'Open Sans';
    text-decoration: none;
}

.post-textbox:hover {
    text-decoration: none;
}

/* Empty Content */

.empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}

.empty-icon {
    height: 100px;
    width: auto;
}

.empty-text {
    color: #A2AAB4;
    font-weight: bold;
}