@font-face {
  font-family: 'Inter';
  src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OPENSANS.ttf') format('truetype');
}

body {
  color: #2C394B;
  font-size: 14px;
  line-height: 18px;
  background-color: #FFFCFC;
  margin: 0;
  padding: 0;
  font-family: 'Inter', serif;
  justify-content: center;
  text-align: center;
  justify-content: space-between;
}

.view-container {
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}

.view-post {
  flex: 4;
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.actual-post {
  margin: 5px;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
}

.view-comments {
  padding: 20px;
  margin: 10px 10px 20px 20px;
  border-radius: 20px;
  background-color: #EEF1F4;
  text-align: center;
  flex-grow: 1;
}

/* Posts */

.post-container {
  height: 100%;
  border-radius: 20px;
  background-color: #EEF1F4;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.vote {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 20px 15px 0 10px;
}

.upvote,
.downvote {
  width: 30px;
  height: auto;
}

.upvote-button,
.downvote-button {
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-votes {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  padding: 0;
}


.post-content {
  margin: 25px 40px 30px 15px;
  text-align: left;
}

.title {
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
}

.author {
  margin-bottom: 20px;
  font-family: 'Open Sans';
}

.text {
  margin-bottom: 15px;
  font-family: 'Open Sans';
}

.sample {
  width: 100%;
  height: 25%;
}

.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  margin-right: 40px;
}

.edit,
.comment,
.share {
  width: auto;
  height: 25px;
  margin-right: -5px;
}

.share {
  margin-left: 15px;
}

#edit-post {
  margin-right: 15px;
}

.edit-button {
  border: none;
  padding: 0;
  margin-right: 7px;
  margin-top: -5px;
}

.comment-button,
.share-button {
  border: none;
  padding: 0;
  margin-right: 10px;
}

.save {
  height: 25px;
}

.save-button {
  margin-left: auto;
  border: none;
  padding: 0;
}

.post-actions p {
  font-weight: bold;
  color: #A2AAB4;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* for making post link */
.post-clickable {
  text-decoration: none;
  color: inherit;
}

.post-clickable:hover,
.post-clickable:focus,
.post-clickable:active {
  text-decoration: none;
  color: black;
}

/* for writing comment */
.post-profile {
  width: auto;
  height: 45px;
  display: block;
  border-radius: 50%;
  border: 0.75px solid #2C394B;
  margin-right: 5px;
}

.add-comment {
  border-radius: 20px;
  background-color: #EEF1F4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 10px 20px 20px;
}

.comment-area {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  color: #8F8D8D;
  text-align: left;
}

.submit-comment {
  width: auto;
  height: 35px;
}

.submit-button {
  border: none;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.single-comment-main {
  margin: 23px;
}

.single-comment {
  display: flex;
  margin: 5px;
}

.sc-picture {
  width: auto;
  height: 45px;
  display: block;
  border-radius: 50%;
  border: 0.75px solid #2C394B;
  margin-right: 5px;
  margin-left: 5px;
}

.sc-right {
  display: flex;
  width: 100%;
  margin-left: 5px;
  flex-direction: column;
  justify-content: left;
}

.sc-name {
  flex: 2;
  font-size: 11px;
  text-align: left;
  margin-left: 10px;
}

.sc-right-content {
  flex: 8;
  background-color: #fffcfc;
  padding: 10px;
  border-radius: 15px;
}

.sc-body {
  margin-left: 5px;
  text-align: left;
}

.view-rightside {
  width: fit-content;
  height: fit-content;
  margin-right: 30px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #2C394B;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.view-rightside h3 {
  font-weight: bold;
  font-size: 26px;
  color: #1E883E;
}

.sc-vote {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  align-items: center;
  justify-content: flex-start;
}

.sc-upvote,
.sc-downvote {
  width: 15px;
  height: 15px;
}

.sc-upvote-button,
.sc-downvote-button {
  border: none;
  margin: 0 5px 0 5px;
  padding: 0;
}

.sc-num-votes {
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: 3px;
}

.sc-reply-button {
  border: none;
  height: 13px;
  margin-left: 20px;
}

.rule {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
}

.rule-info {
  margin-left: 5px;
  text-align: left;
  padding-left: 5%;
  word-wrap: initial;
  margin-bottom: 8px;
}

.rule-info h4 {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}

.rule-info p {
  margin-top: -5px;
  padding-left: 5%;
  font-family: 'Open Sans';
  font-style: italic;
}