@font-face {
    font-family: 'Inter';
    src: url('../fonts/INTER.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OPENSANS.ttf') format('truetype');
}

body {
    color: #2C394B;
    font-size: 14px;
    line-height: 18px;
    background-color: #FFFCFC;
    margin: 0;
    padding: 0;
    font-family: 'Inter', serif;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}


img {
    width: 400px;
    height: auto;
}

h2 {
    color: #6C8CA4;
}

a:hover{
    text-decoration: none;
}


#content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100vh;
    margin: 0 auto;
}
